<div class="container-fluid">
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 px-5">
      <div class="col-md-3 mb-2 mb-md-0">
        <a href="/dashboard" class="d-inline-flex link-body-emphasis text-decoration-none fw-bold fs-2 text-light" style="color: purple !important;">
          Notes-Spot.
        </a>
      </div>
<form action="/dashboard/search" method="post" role="search" class="nav col-12 col-md-auto flex-fill mb-2 justify-content-center mb-md-0">


<input type="search" name="searchTerm" class="form-control " placeholder="Search " aria-label="Search">

</form>

      <div class="col-md-3 text-end">
        <a href="/Logout" type="button" class="btn btn-outline-primary">LogOut</a>
      </div>
    </header>
  </div>