<div class="container-fluid">
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 px-5">
      <div class="col-md-3 mb-2 mb-md-0">
        <a href="/" class="d-inline-flex link-body-emphasis text-decoration-none fw-bold fs-2 text-light" style="color: purple !important;">
          Notes-Spot.
        </a>
      </div>

      <ul class="nav col-12 col-md-auto mb-2  justify-content-center mb-md-0">
        <li><a href="/" class="nav-link  px-2 link-secondary text-light" style="font-weight: 400;">Home</a></li>
        <li><a href="/about" onmouseover="this.style.color='gold'" onmouseout="this.style.color='purple'" class="nav-link  px-2" style=" color: purple; font-weight: 400;">About</a></li>
      </ul>

      <div class="col-md-3 text-end">
        <a href="/auth/google" type="button" class="btn btn-outline-primary me-2">Sign-up</a>
        <a href="/auth/google" type="button" class="btn btn-primary">Sign-In</a>
      </div>
    </header>
  </div>