<div class="container-fluid container-fluid-custom py-md6 mb-5 h-100" > 
    <main>
        <div class="row py-md-5 text-center justify-content-center">
            <div class="col-md-12 col-lg-6 mb-6 mb-md-0">
                <h1 class="display-3 fw-bold md-4 position-relative home-title">
                    Write your thoughts here 😉!!
                </h1>
                <p>
                    Notes-Spot is a simple to use free note taking platform.
                </p>
                <a href="/auth/google" class="btn btn-primary btn-lg">Try Notes-Spot., it's FREE!</a>
            </div>
        </div>
    </main>
</div>